<!-- Toolbar -->
<div class="toolbar" role="banner">
  <img
    width="40"
    alt="Angular Logo"
    src="/assets/dsjLogo.jpeg"
  />
  <span>DVM-Manager</span>

</div>

<div class="content">
  <button mat-raised-button color="warn" (click)="performShutdown()">Shutdown</button> &nbsp;
  <button mat-raised-button color="primary" (click)="openFileUploadDialog('lst')">LST-Upload</button> &nbsp;
  <button mat-raised-button color="primary" (click)="openFileUploadDialog('pgn')">PGN-Upload</button> &nbsp;
  <button mat-raised-button (click)="checkAccounts()">Account-Check</button> &nbsp;
  <button mat-raised-button color="accent" (click)="createChallenges()">Create Challenges</button>

  <br> <br>
  <app-team-matches></app-team-matches>
</div>

<router-outlet></router-outlet>
