<!-- Toolbar -->
<div class="toolbar" role="banner">
  <a routerLink="/teamMatches"><img width="40" alt="DSJ Logo" src="/assets/dsjLogo.jpeg"></a>
  <span>DVM-Manager</span> &nbsp; &nbsp; &nbsp; &nbsp;
  <button mat-raised-button routerLink="/teamMatches">Team-Matches</button> &nbsp; &nbsp; &nbsp; &nbsp;
  <button mat-raised-button routerLink="/teams">Teams</button> &nbsp; &nbsp; &nbsp; &nbsp;

</div>

<div class="content">

  <button mat-raised-button color="warn" (click)="performShutdown()">Shutdown</button> &nbsp;
  <button mat-raised-button color="primary" (click)="openFileUploadDialog('lst')">LST-Upload</button> &nbsp;
  <button mat-raised-button color="primary" (click)="openFileUploadDialog('pgn')">PGN-Upload</button> &nbsp;
  <button mat-raised-button (click)="checkAccounts()">Account-Check & Lichess-Names</button> &nbsp;
  <button mat-raised-button color="accent" (click)="createChallenges()">Create Challenges</button> &nbsp;
  <button mat-raised-button color="accent" (click)="openBroadcastDialog()">Broadcast-Message</button>

  <br> <br>

  <router-outlet></router-outlet>
</div>


